
#container{
    margin-bottom:0px;
}

#my-header{
    padding: 10px;
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: -10px;
    position: fixed;
    width: 100%;
    z-index: 1000 !important;
    padding-bottom: 90px;
}

#my-napis{
    margin-left: 20px;
    width: 30%;
}

/****************/
/* Outer border */
/****************/

#container{
    border: none;
    box-shadow: none;
}

/**************/
/* Logo image */
/**************/

/* primarjalna knjizevnost */
#header h1 img{
    /* just hide kz ugly */
    visibility:hidden;
    
    /* size */
    width: calc(669px / 2);
    height: calc(200px / 2);
    
    /* position */
    margin-left: -140px;
}



/**********/
/* Navbar */
/**********/

#navbar{
    width: 100%;
    text-align: center;
    border-bottom: solid 1.15px #b690c1;
    background-color: white;
    z-index: 1001 !important;
    position: fixed;
    top: 17%;
    margin-left: -20px;
    
    -webkit-transition:top 100ms ease-in-out;
    -moz-transition:top 100ms ease-in-out;
    -o-transition:top 100ms ease-in-out;
    transition:top 100ms ease-in-out;
}

.smaller{
    top: 3% !important;
    background-color: transparent !important;
}

#navbar ul{
    left: 50%;
    position: relative;
    transform: translate(-25%,0%);
}

/* Domov | O publikaciji | ... */
#navbar a{
    /* size */
    height: 30px;
    font-size: 22px;
    
    /* borders */
    border-right: none;
    
    /* font style */
    font-weight: normal;
    letter-spacing: -1.8px;
    
    /* paddings*/
    padding-right: 20px;
}

#navbar a:hover{
    color: #b690c1;
    background:none;
}



/***************/
/* Breadcrumbs */
/***************/

#breadcrumb{
    /* position */
    margin-top: 60px;
    margin-left: 40px;
    color: #989898;
}

#breadcrumb a{
    /* color */
    color: #989898;
}

#breadcrumb a:hover{
    /* color */
    background: none;
    color: #4c4c4c;
}

/********/
/* Body */
/********/

#main{
    min-width: none;
    width: 71%;
    float:none;
}

#main h2{
    margin-left:40px;
}

#content{
    margin-left:40px;
    border-top: 1.5px solid #18223133;
    margin-bottom:50px;
    margin-right: 53px;
}

#content > div{
    margin-bottom: 200px;
}

#journalDescription p{
    margin-left: 0px;
}

#additionalHomeContent p{
    margin-left:0px;
}



/***********/
/* Sidebar */
/***********/

/* general */
#sidebar DIV.block{
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom:20px;
    margin-right:100px;
    
}

#rightSidebar{
    width: 102%;
    margin-left:-20px;
    float:none;
    background-color:black;
    color:white;
    display: -webkit-inline-box;
    
    margin-right:0px;
    padding-bottom:120px;
}

#sidebar DIV.block SPAN.blockTitle{
    background: none;
    /*border-bottom: solid 1.5px;
    border-color: grey;*/
    
    text-indent: 1px;
    height: 16px;
    font-size: 13px;
    margin-bottom: 10px;
}

/* languages */
#sidebarLanguageToggle{
    position: fixed;
    top: 0%;
    left: 76%;
    z-index: 10001 !important;
}

#sidebarLanguageToggle img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    
    -webkit-transition:width 100ms ease-in-out;
    -moz-transition:width 100ms ease-in-out;
    -o-transition:width 100ms ease-in-out;
    transition:width 100ms ease-in-out;
}

.languageSmall{
    width:20px !important;
}

.languageSmallWrapper{
    right: 3% !important;
    left: unset !important;
}

/* font style */
#sidebarFontSize{
    margin-bottom: 4px;
    position: absolute;
    top: 10%;
    visibility:hidden;
}

#sidebarFontSize span{
    display: none;
    color:red;
}

/* all input fields */
.textField{
    margin-left: 10px;
    border-radius: 3px;
    height: 18px;
    padding-left:5px;
    padding-right:5px;
}

/* buttons */
.button{
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border-color: gray;
}

#sidebarUser table{
    border-collapse: separate;
    border-spacing: 0px 5px;
}

#sidebarUser .button{
    float:right;
}

#sidebarUser td[colspan="2"] > *{
    /*float: right;*/
}

/* notification */
#notification ul{
    list-style-type: none;
    margin-left:-20px;
}

#notification ul li{
    margin-bottom:4px;
}

#notification a:link{
    text-decoration:none;
    color: grey;
    font-weight: bold;
}

#notification a:hover{
    color: black;
    background: none;
}

/* Open Journal System */
#sidebarDevelopedBy a, #sidebarHelp a{
    text-decoration:none;
    color: grey;
    font-weight: bold;
}


/* ###################################################### */
/* ------------------------------------------------------ */
/*                          ARHIVI                        */
/* ------------------------------------------------------ */

#issues h3{
    color:gray;
    font-size:2.5em;
}

#issues h4 a{
    color:gray;
    font-size:1em;
    text-decoration: none;
    font-weight: normal;
}

#issues h4 a:hover{
    background-color: transparent;
    color: #4c4c4c;
}

#issues h4 a:hover{
    background-color: transparent;
    color: #4c4c4c;
}

.issueCoverImage img{
    position: absolute;
    top: 30%;
    left: 45%;
    width:25%;
    visibility: hidden;
}



/* LOGIN */
#content > form{
    margin-top: 30px;
    padding-left: 0px;
}
